{%extends 'base.html'%}
{%block title_block%}
<title>Change Vehicle</title>
{%endblock%}
{%block body_block%}
   <div class="container">
 
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-3 border shadow mt-4">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" class="btn btn-outline-info form-control">
        
            </form>
        </div>
        <div class="col-2"></div>
    </div>
   </div>
{%endblock%}